* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 0;
  align-items: center;
  height: 50px;
}

hr {
  max-width: 80%;
  margin: 0 auto;
}

.Navigation ul li {
  display: inline-block;
  margin-inline: 10px;
}

.Navigation ul li a {
  font-size: 1.5em;
  color: inherit;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}